@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary:   mat.$violet-palette,
      tertiary:  mat.$green-palette,
    ),
    typography: 'Plus Jakarta Sans',
    density: 0,
  ));
}

body {
  color-scheme: light;
  background-color: #f1e1c8;
  margin: 0;
  height: 100%;
}
